<div *ngIf="isLoading" fxLayout="row" fxLayoutAlign="center">
  <mat-spinner data-testid="spinner"></mat-spinner>
</div>

<div *ngIf="error" fxLayout="row" fxLayoutAlign="center">
  <h1>No se pudo recuperar la actividad deseada</h1>
</div>

<div *ngIf="!error && !isLoading" class="wrapper">
  <mat-card
    ><h1>{{ activity?.title }}</h1></mat-card
  >
  <mat-divider></mat-divider>
  <mat-card
    ><h2>{{ activity?.description }}</h2></mat-card
  >
  <mat-divider></mat-divider>
  <mat-card>
    <mat-chip-list>
      <mat-chip *ngFor="let tag of activity?.tags">{{ tag }}</mat-chip>
    </mat-chip-list>
  </mat-card>
  <mat-divider></mat-divider>
  <mat-card>
    <div *ngIf="activity?.geolocation">
      <span class="mat-title">Geolocalización</span>
      <ul>
        <li>Latitud: {{ activity?.geolocation?.latitude }}</li>
        <li>Longitud: {{ activity?.geolocation?.longitude }}</li>
      </ul>
    </div>
    <p *ngIf="!activity?.geolocation">
      La actividad no cuenta con geolocalización
    </p>
  </mat-card>

  <div fxLayout="row" fxLayoutAlign="end" class="actions">
    <button mat-raised-button color="info" (click)="onEditClick()">
      Editar
    </button>
    <button mat-raised-button color="warn" (click)="onDeleteClick()">
      Eliminar
    </button>
  </div>
</div>
